<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="my_jquery_function.js"></script>
</head>
<body>

<p>以下执行了fadeIn()使用不同的参数效果</p>
<button id="danru">点击淡入div元素</button>
<button id="danchu">点击淡出div元素</button>
<button id="danrudanchu">点击淡入/淡出div元素</button>
<button id="yansebiandan">点我颜色变淡</button>
<br><br>
<div id="div4" style="width: 80px;height: 200px;background-color: red;float: left"></div>
<div id="div5" style="width: 80px;height: 200px;background-color: yellow;float: left"></div>
<div id="div6" style="width: 80px;height: 200px;background-color: blue;float: left"></div>

<div id="div1" style="width: 80px;height: 200px;background-color: red;display: none;float: left"></div>
<div id="div2" style="width: 80px;height: 200px;background-color: yellow;display: none;float: left"></div>
<div id="div3" style="width: 80px;height: 200px;background-color: blue;display: none;float: left"></div>



</body>
</html>