<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jQuery</title>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="my_jquery_function.js"></script>
</head>
<body>
<h1 class="test">我是一个H1标题，双击左键，我才会消失</h1>

<p id="p1">点我，我就会消失,隐藏当前HTML元素</p>
<P id="p2">鼠标点下我</P>
<P id="p3">鼠标点下我,再松开</P>
<P id="p4">鼠标移上来，再移开</P>
<p id="p5">点我，弹出框</p>
<p id="p6">双击我，弹出框</p>

<p id="test">继续点我</p>
<p class="test">接着点我</p>
<button>点我</button><br>

username:<input type="text" name="username"><br>
password:<input type="text" name="password">
<p>按键的次数：<span>0</span></p>

<form action="">
    <input type="text" name="username" value="username"><br>
    <input type="text" name="password" value="password"><br>
    <!--<input type="submit" value="提交"> -->
</form>
<button>出发submit事件</button>

<table border="1" width="50%">
    <tr>
        <td>111</td>
        <td>222</td>
        <td>333</td>
    </tr>
    <tr>
        <td>111</td>
        <td>222</td>
        <td>333</td>
    </tr>
    <tr>
        <td>111</td>
        <td>222</td>
        <td>333</td>
    </tr>
    <tr>
        <td>111</td>
        <td>222</td>
        <td>333</td>
    </tr>
    <tr>
        <td>111</td>
        <td>222</td>
        <td>333</td>
    </tr>
    <tr>
        <td>111</td>
        <td>222</td>
        <td>333</td>
    </tr>
</table>


</body>
</html>